*.pyc
ViralOceanView/ViralOceanView/file/OceanFinder/*
ViralOceanView/db.sqlite3
*.ipynb
ViralOceanView/ViralOceanView/file/PDB/*

ViralOceanView/ViralOceanView/file/6yyt.json
ViralOceanView/ViralOceanView/file/6yyt.pdb
ViralOceanView/ViralOceanView/file/rcsb_pdb_6YYT.fasta
ViralOceanView/ViralOceanView/file/test_mutation_ref.fasta
ViralOceanView/ViralOceanView/file/test_mutations_input.fasta
ViralOceanView/ViralOceanView/file/example.svg
ViralOceanView/ViralOceanView/file/example.png
ViralOceanView/ViralOceanView/file/PDB_manager.py
ViralOceanView/ViralOceanView/file/pdb_parse.py
ViralOceanView/ViralOceanView/file/out.txt
.gitignore
ViralOceanView/ViralOceanView/file/hca-1671194751.ps
ViralOceanView/ViralOceanView/file/hhpred_5727792.hhr
