*.pyc
ViralOceanView/ViralOceanView/file/OceanFinder/*
ViralOceanView/db.sqlite3
*.ipynb
*.cif
*.pml
*.bash
ViralOceanView/ViralOceanView/file/outSVG/*
workspace/*
ViralOceanView/ViralOceanView/file/PDB/*
