{% extends "base.html" %}
{% load static %}

{% block JS.js %}
<script src="{% static 'OceanViewer/js/OceanViewer.js' %}"></script>
{% endblock %}

{% block content %}
{% load OceanViewer_extras %}
{% if seq_array %}
    <div class='svgFigure'>
        <img id="figure_prot_mutation" path="{{figure_prot_mutation}}" >
        <img id="figure_nucl_mutation" path="{{figure_nucl_mutation}}">
        </div>
        
    <div class='header'>
        <span><b>RefSeq :</b>{{refseq}}</div><div><b>Input :</b>{{inputseq}}</span>
        </div>
    <div class="seq-table" id="prot_display">
        <div class='header'>
            <span><b>Proteines:</b></span>
                </div>
        {% for sub_table in seq_array.prot %}
            <div class='row'>
                <div class='accession'>
                    <span>refSeq</span>
                    <span>input</span>
                    <span>match</span>
                </div>
                <span class='numberline start'>{{ sub_table.number_start }}</span>
                <div class='sequence'>
                    <div class='refSeq'>
                        {{ sub_table.refseq|protAsTable:sub_table.number_start }}
                    </div>
                    <div class='inputseq'>
                        {{ sub_table.inputseq|protAsTable:sub_table.number_start }}
                        </div>
                    <div class='mismatch'>
                        {{ sub_table.match|protAsTable:sub_table.number_start }}
                        </div>
                    </div>
                <span class='numberline end'>{{ sub_table.number_end }}</span>
                </div>
            {% endfor %}
        </div>
    <div class="seq-table" id="nucl_display">
        <div class='header'><div><b>Nucleotides:</b></div></div>
        {% for sub_table in seq_array.nucl %}
            <div class='row'>
                <div class='accession'>
                    <span>refSeq</span>
                    <span>input</span>
                    <span>match</span>
                    </div>
                <span class='numberline start'>{{ sub_table.number_start }}</span>
                <div class='sequence'>
                    <div class='refSeq'>
                        {{ sub_table.refseq|nuclAsTable:sub_table.number_start }}
                    </div>
                    <div class='inputseq'>
                        {{ sub_table.inputseq|nuclAsTable:sub_table.number_start }}
                    </div>
                    <div class='mismatch'>
                        {{ sub_table.match|nuclAsTable:sub_table.number_start }}
                    </div>
                </div>
                <span class='numberline end'>{{ sub_table.number_end }}</span>
                </div>
            {% endfor %}
        </div>
    
    <div class='forms'>
        <p class='last'><a href={% url 'export' outfile_aligned_fasta %}>download sequences</a></p>
        </div>
    
    {% endif %}

{% endblock %}
