body {
  background-color: rgb(40, 40, 50);
  color: rgb(230, 230, 230);
}

#navbox {
  position: relative;
  top: 0%;
  left: 10%;
  width: fit-content;
}
#navbox li {
  position: relative;
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
}
#navbox li a {
  width: fit-content;
  padding: 0.5em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  height: 1em;
  background-color: rgb(200,200,200);
}

div.subTitle {
  position: relative;
  display: inline-block;
  margin-top: 3em;
}
div.subTitle img {
  position: fixed;
  top: 1em;
  right: 1em;
}


div.message {
  background: rgb(5, 50, 90);
  color: rgb(0, 160, 160);
  padding : 10px 0px;
  margin : 1em;
}

div.seq-table {
  margin-right: 2em;
  margin-left: 2em;
  display: inline-table;
  font-family: monospace;
}

.header {
  margin-bottom: 2em;
}

.header div{
  display: inline;
  margin-right: 4em;
}

div.row {
  display: flex;
  margin-bottom: 3em;
}

div.accession div{
  text-align: left;
  width: 5em;
  font-size: large;

}

div.numberline{
  text-align: center;
  width: 3em;
}

div.sequence{
  margin-left: 1em;

}

div.sequence td{
  padding: 5px;
}

table {
  border-collapse: separate;
  border-spacing: 0px;
  font-size: large;
}

#logo_display p {
  display: block;
}

div.forms form{
  background: rgb(40, 40, 40);
  color: rgb(230, 230, 230)
}



[data-residu='-'] {color: gray;}
[data-residu='*'] {background: rgb(220, 220, 220); color: gray; }
[data-residu='~'] {color: gray;}
[data-residu='_'] {color: rgb(40, 40, 50);}

div#prot_display [data-residu='A'] {color: rgb(230, 230, 230);}
div#prot_display [data-residu='G'] {color: rgb(230, 230, 230);}
div#prot_display [data-residu='I'] {color: rgb(230, 230, 230);}
div#prot_display [data-residu='L'] {color: rgb(230, 230, 230);}
div#prot_display [data-residu='P'] {color: rgb(230, 230, 230);}
div#prot_display [data-residu='V'] {color: rgb(230, 230, 230);}

div#nucl_display [data-residu='A'] {color: rgb(230, 10, 10);}
div#prot_display [data-residu='R'] {color: rgb(230, 10, 10);}
div#prot_display [data-residu='H'] {color: rgb(230, 10, 10);}
div#prot_display [data-residu='K'] {color: rgb(230, 10, 10);}

div#nucl_display [data-residu='C'] {color: rgb(10, 230, 10);}
div#prot_display [data-residu='S'] {color: rgb(10, 230, 10);}
div#prot_display [data-residu='T'] {color: rgb(10, 230, 10);}

div#nucl_display [data-residu='T'] {color: rgb(0, 100, 255);}
div#prot_display [data-residu='F'] {color: rgb(0, 100, 255);}
div#prot_display [data-residu='W'] {color: rgb(0, 100, 255);}
div#prot_display [data-residu='Y'] {color: rgb(0, 100, 255);}

div#nucl_display [data-residu='G'] {color: rgb(250, 220, 0);}
div#prot_display [data-residu='N'] {color: rgb(250, 220, 0);}
div#prot_display [data-residu='Q'] {color: rgb(250, 220, 0);}

div#prot_display [data-residu='D'] {color: purple;}
div#prot_display [data-residu='E'] {color: purple;}

div#prot_display [data-residu='C'] {color: pink;}
div#prot_display [data-residu='M'] {color: pink;}

div#nucl_display [data-residu='N'] {color: gray;}
div#prot_display [data-residu='X'] {color: gray;}


td[highlighted='true']{
  background: rgb(220, 220, 220);
  color: black;
  border-top: 1px dotted;
  border-bottom: 1px dotted;
  border-color: black;
}

td[hover='true'] {
  background: rgb(100, 100, 100);
}

a {
  background: grey;
}

footer {
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  width:100%;
  background-color: rgb(100, 100, 100);
  clear: both;
}
