.hit{
  padding: 10px
}

.table {
  display: table;
}

.table div.p-row {
  display: block;
  padding: 5px;
  margin-bottom: 5px;
  width: 100%;
  color: black;
  background-color: rgb(190, 190, 190);
  POSITION: relative;
}

.table-header{
  display: inline-flex;
}

.table-header form{
  display: flex;
  position: absolute;
  left: 90%;
  padding-left: 10px;
  top: 50%;
}

.table-row{
  display: table-row;
  padding-bottom: 10px;
  width: fit-content;
  color: rgb(40, 40, 50);
  background-color: rgb(180, 180, 180);
}

.table-col{
  display: inline-block;
  padding-right: 20px;
}

.table div{
  padding: 2px;
}

.table-col[highlighted='False'] {
  display: None;
}
.table-col[highlighted='True'] {
  color: rgb(230, 10, 10);
  font: bold;
}

[hidden='true'] {
  display: none;
}