{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'OceanFinder/css/OceanFinder.css' %}">
{% endblock %}

{% block JS.js %}
<script src="{% static 'OceanFinder/js/OceanFinder.js' %}"></script>
{% endblock %}

{% block subTitle %}Instant Finder{% endblock %}

{% block OceanFinder %}
{% load OceanFinder_extras %}

<div><p><a href="https://pangolin.cog-uk.io/">get lineage on Pangolin</a></p><div>

{% if jobKey %}
    <div class='message'>We have found {{ outBlastList|Len }} reference(s) on Wuhan1.</div>
        {% if outBlastList %}
            <div id='outBlastList' class='table'>
                {% for hit in outBlastList %}
                    <div class='p-row' accession={{ hit.accession }} jobKey={{ jobKey }}>
                        <div class='table-header'>
                            <div>{{hit.definition}}</div>
                            <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <button type='submit' value="{{ hit.accession }} {{ jobKey }}" name='pickBlastRef'>pick</button>
                                </form>
                            </div>
                        <div class='table-row'>
                            <div class='table-col'>
                                <div>score</div><div>{{ hit.score }}</div>
                                </div>
                            <div class='table-col'>
                                <div>length</div><div>{{ hit|length }}</div>
                                </div>
                            <div class='table-col'>
                                <div>identity</div><div>{{ hit|match }}</div>
                                </div>
                            </div>
                        </div>
                {% endfor %}
            </div>
        {% endif outBlastList%}
    </div>
    <div class=''>
        <p><a href={% url 'export' "outfile.nucl.fasta" %}>download all nucleotid sequences only</a></p>
        <p><a href={% url 'export' "outfile.prot.fasta" %}>download all protein sequences only</a></p>
    </div>
{% endif jobKey %}
{% endblock %}

