{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="forms input">
        <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Warning: please take these few lines to account for your submissions, they may change while the project evolves.</p>
            <ul>
                <li>nucleotide sequence only</li>
                <li>in fasta format (starting with : ">example-sample...")</li>
                <li>length between 30 nucleotides and a full genome</li>
            </ul>
            {{ input.as_p }}
            <input name='input' type="submit" value="Blast it"/>
        </form>
    </div>

    {% if jobKey %}
    <div class='last' id='jobKey'>
        <p>{{ jobKey }}</p>
        <form action="{% url 'finder' %}" method="get" enctype="multipart/form-data">
            <button type='submit' value="{{ jobKey }}" name='JobKeyForm'>{{ jobKey }}</button>
            </form>
        </div>
    {% endif  %}


{% endblock %}