{% extends "base.html" %}
{% load static %}

{% block input %}
    <div class="forms input">
        <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ input.as_p }}
            <input name='input' type="submit" value="Blast it"/>
        </form>
    </div>

    {% if jobKey %}
    <div id='jobKey'>
        <p>{{  jobKey }}</P>
            <form action="{% url 'finder' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button type='submit' value="{{ jobKey }}" name='JobKeyForm'>result</button>
                </form>
        </div>
    {% endif jobKey %}


{% endblock %}