{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="forms input">
        <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ input.as_p }}
            <input name='input' type="submit" value="Blast it"/>
        </form>
    </div>

    {% if jobKey %}
    <div id='jobKey'>
        <p>{{ jobKey }}</p>
        <form action="{% url 'finder' %}" method="get" enctype="multipart/form-data">
            <button type='submit' value="{{ jobKey }}" name='JobKeyForm'>{{ jobKey }}</button>
            </form>
        </div>
    {% endif  %}


{% endblock %}