<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
    <meta charset="utf-8">
    {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'OceanViewer/css/OceanViewer.css' %}">
   <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
   {% block JS.js %}{% endblock %}
   {% block css %}{% endblock %}
   <title>{% block title %}VIMVer{% endblock %}</title>
   <link rel="shortcut icon" type="image/png" href="{% static 'OceanViewer/img/instantVariantIcon.png' %}">
</head>
<body>

  <nav>
    {% block nav %}
      <div id='navbox'>
        <ul id="block nav">
            <li><a href="/"               >Instant Viewer </a></li>
            <li><a href="/InstantFinder/" >Instant Finder </a></li>
          </ul>
        </div>
    {% endblock %}
    </nav>
  
  <div class='subTitle'>
    {% load static %}
    <h1>Viral Instant Mutation Viewer : VIMVer</h1>
    <img id="instantVariantLogo" src="{% static 'OceanViewer/img/instantVariantLogo.png' %}" width='128' height='128'>
    <h2>{% block subTitle %}Instant Viewer{% endblock %}</h2>
  </div>
    
  <div class='message'><p>
   Caution: please make sure you give all information
   needed to succesfully add every sequences you want:
   as the genbank accession number of each entity,
   or the raw cds sequence if necessary.</p>
    </div>

  <section id="content">
    {% block forms %}{% endblock %}
    {% block seqtab %}{% endblock %}
    {% block OceanFinder %}{% endblock %}
    {% block OceanBase %}{% endblock %}
    </section>


<footer>&copy; Viral Instant Mutation Viewer</footer>
</body>
</html>
