<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
    <meta charset="utf-8">
    {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'OceanViewer/css/OceanViewer.css' %}">
   <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="{% static 'OceanViewer/js/OceanViewer.js' %}" ></script>
   {% block JS.js %}{% endblock %}
   {% block css %}{% endblock %}
   <title>{% block title %}VIMVer{% endblock %}</title>
   <link rel="shortcut icon" type="image/png" href="{% static 'OceanViewer/img/instantVariantIcon.png' %}">
</head>
<body>

  <nav>
    {% block nav %}
      <div id='navbox'>
        <ul id="block nav">
            <li><a href="/"        >1: query </a></li>
            <li><a href="/finder" >2: finder </a></li>
            <li><a href="/viewer" >3: viewer </a></li>
          </ul>
        </div>
    {% endblock %}
    </nav>
  
  <div class='logos'>
    <img id="CNRSLogo" src="{% static 'OceanViewer/img/cnrs.png' %}">
    <img id="AFMBLogo" src="{% static 'OceanViewer/img/logo-afmb.svg' %}">
    </div>
  <div class='subTitle'>
    {% load static %}
    <h1>Viral Instant Mutation Viewer : VIMVer</h1>
    <img id="instantVariantLogo" src="{% static 'OceanViewer/img/instantVariantLogo.png' %}" width='128' height='128'>
    </div>
  <div class='definition'>
    <p>This website is free and open to all users and there is no login requirement.</p>
    <p>Input: nucleotide sequence between 30b and a full genome of SARS-CoV2.</p>
    <p>Output: positioning and type of each mutation for each of 26 SARS-CoV2 proteins.</p>
    <p hidden>Citation: wip</p>
    <p hidden>Open source: <a href="https://github.com/wildevince/VIMVer">https://github.com/wildevince/VIMVer</a></p>
    </div>
  

  {% if message %}
    <div class='message'><p>{{ message }}</p></div>
    {% endif %}

  {% if JobForm %}
    <div class='JobForm'> 
        <form action="{% url 'finder' %}" method="get" enctype="multipart/form-data">
            {{ JobForm.as_p }}
            <input name='job' type='submit' value='Load job'>
        </form>
        </div>
    {% endif %}

  <section id="content">
    {% block content %}{% endblock %}
    </section>


  <section id="info" title='Click to expand'>
      <div id="infoButtons">
        <div class="infoButton" id="infoButton-help">
          <button type="button" id="infobox-help" >
            <img id="help_icon" src="{% static 'OceanViewer/img/help_icon.png' %}"></button>
          </div>

        <div class="infoButton" id="infoButton-project">
          <button type="button" id="infobox-project">
            <img id="project_icon" src="{% static 'OceanViewer/img/project_icon.png' %}"></button>
          </div>
        <div class="infoButton" id="infoButton-contact">
          <button type="button" id="infobox-contact">
            <img id="contact_icon" src="{% static 'OceanViewer/img/contact_icon.png' %}"></button>
          </div>
        </div>
      <div id="infoPanels">
        <div class='infoPanel' id='infoPanel-help'>
          <h1>Help</h1>
          <ol type='1'>
            <li>Paste your SARS-CoV2 related genomic sequence in the input box. Then press the 'Blast it' button underneath.</li>
            <img id="help_img_1" src="{% static 'OceanViewer/img/help_1.png' %}">
            <li>Press the newly appeared button to jump to the result.</li>
            <img id="help_img_2" src="{% static 'OceanViewer/img/help_2.png' %}">
            <li>Press the 'pick' button to acces the alignements for the corresponding line in the table.</li>
            </ol>
          </div>

        <div class="infoPanel" id="infoPanel-project" hidden>
          <h1>Citation</h1>
          <p>Please cite: </p>
          <p class='citation'>Wilde, V.; Canard, B.; Ferron, F. Viral Instant Mutation Viewer: A Tool to Speed Up the Identification and Analysis of New SARS-CoV-2 Emerging Variants and Beyond. Viruses 2023, 15, 1628. https://doi.org/10.3390/v15081628</p>
          <div class="article-details">
            Article:
            <h1>Viral Instant Mutation Viewer: A Tool to Speed Up the Identification and Analysis of new SARS-CoV-2 Emerging Variants and Beyond</h1>
            <p class="author">Vincent Wilde<sup>1,2</sup> ; Bruno Canard <sup>1,2,3</sup> and François Ferron <sup>1,2,3</sup></p>
            <p class="author-details"><sup>1</sup> Architecture et Fonction des Macromolécules Biologiques, CNRS - UMR 7257, Polytech Case 925, 13009 Marseille, France.</p>
            <p class="author-details"><sup>2</sup> Aix-Marseille Université, AFMB UMR 7257, 13288 Marseille, France.</p>
            <p class="author-details"><sup>3</sup> European Virus Bioinformatics Center, Leutragraben 1, 07743 Jena, Germany.</p>
            <p class="publication">Viruses 2023, 15(8), 1628; doi: <a href="https://doi.org/10.3390/v15081628">10.3390/v15081628</a></p>
            <p class="license">License: <a href="http://cecill.info/">cecill v2.1</a></p>
            </div>
        </div>
        </div>
    </section>


<div id="cookie-banner" class="cookie-banner">
    <p>This website uses cookies. By using this website, you agree to our use of cookies.</p>
  <button onclick="acceptCookie()" id="cookie-accept">Accept</button></div>
  

<footer>&copy; Viral Instant Mutation Viewer</footer>
</body>
</html>
