<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
    <meta charset="utf-8">
    {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'OceanViewer/css/OceanViewer.css' %}">
   <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
   {% block JS.js %}{% endblock %}
   {% block css %}{% endblock %}
   <title>{% block title %}VIMVer{% endblock %}</title>
   <link rel="shortcut icon" type="image/png" href="{% static 'OceanViewer/img/instantVariantIcon.png' %}">
</head>
<body>

  <nav>
    {% block nav %}
      <div id='navbox'>
        <ul id="block nav">
            <li><a href="/"        >1: query </a></li>
            <li><a href="/finder" >2: finder </a></li>
            <li><a href="/viewer" >3: viewer </a></li>
          </ul>
        </div>
    {% endblock %}
    </nav>
  
  <div class='subTitle'>
    {% load static %}
    <h1>Viral Instant Mutation Viewer : VIMVer</h1>
    <img id="instantVariantLogo" src="{% static 'OceanViewer/img/instantVariantLogo.png' %}" width='128' height='128'>
  </div>
   
  {% if message %}
    <div class='message'><p>{{ message }}</p></div>
  {% endif %}

  {% if JobForm %}
    <div class='JobForm'> 
        <form action="{% url 'finder' %}" method="get" enctype="multipart/form-data">
            {{ JobForm.as_p }}
            <input name='job' type='submit' value='Load job'>
        </form>
  {% endif %}

  <section id="content">
    {% block content %}{% endblock %}
    </section>



<footer>&copy; Viral Instant Mutation Viewer</footer>
</body>
</html>
